	<%= form_for([:admin, @element], :html => { :multipart => true }) do |f| %>
	<div class="module_content">
	  <% if @element.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h2>
	      <ul>
	      <% @element.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>     
	    </div>
	  <% end %>

		<div class="fileupload fileupload-new" data-provides="fileupload">
		    <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><%= f.file_field :image %></span>
		    <span class="fileupload-preview"></span>
		    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
	    </div>

	  	<%= f.label :name %>
	  	<%= f.text_field :name %>

	  	<%= f.label "Father", :parent1 %>
	  	<%= f.select(:parent1, @elements.map { |element| [element.name, element.id] }, {:include_blank => true}) %>
	  	<%#= f.text_field :parent1 %>

	  	<%= f.label "Mother", :parent2 %>
	  	<%= f.select(:parent2, @elements.map { |element| [element.name, element.id] }, {:include_blank => true}) %>
	</div>
	  <footer>
	  	<%= f.submit "#{create_or_update_string}", :class => "btn pull-right" %>
	  </footer>
	<% end %>

